// Imports
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Variables
$accent: #2e2ee4;
$text: #333;

$inputHeight: 40px;
$inputRadius: 6px;

// Mixins

/// Adds a breakpoint
///
/// @param {string} $width
///   The size of the target breakpoint
/// @param {string} $type
///   min or max width
$breakpoints: (
  "extra-small": 446px,
  "small": 768px,
  "medium": 992px,
  "large": 640px,
  "extra-large": 768px
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Import modules
@import 'authForms';

// Getting Sassy

body {
  font-family: 'Soure Sans Pro', sans-serif;
  color: $text;
}

* {
  &:focus {
    outline: none;
  }
}

input[type="text"],
input[type="password"] {
  padding: 8px 12px;
  color: transparentize($color: $text, $amount: 0);
  display: block;
  font: inherit;
  border: none;
  width: 100%;
  border-radius: $inputRadius;
  height: $inputHeight;
  line-height: $inputHeight;
  margin-bottom: 1rem;
  border: 2px solid transparentize($color: $text, $amount: 0.2);
  
  &:focus {
    border-color: $accent;
  }

  &::placeholder {
    color: transparentize($color: $text, $amount: 0.5)
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.password-input {
  position: relative;

  .show-password-button {
    position: absolute;
    right: 6px;
    bottom: 6px;
    padding: 6px;
    cursor: pointer;
  }
} 

form button {
  height: $inputHeight;
  line-height: $inputHeight;
  width: 100%;
  border-radius: $inputRadius;
  border: none;
  cursor: pointer;
  background-color: $accent;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;

  &:focus {
    color: yellow;
  }
}

a {
  color: inherit;
  text-decoration: none;
}